.home-img {
  /* 2.1 - bcd, 1.2 bar basso */
  background-image: url("../images/1.2.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  flex: auto;
  height: 100%;
}

.carousel .slide {
  height: 100%;
}

.carousel .inner {
  height: 100%;
}
