.home-icon {
  height: 60px;
}

.nav-logo {
  border-left: 5px solid #f60703;
  padding: 3px 0 3px 0;
}

.main-nav {
  justify-content: space-between;
}

.nav-menu .nav-item {
  margin-top: 20px;
  border-bottom: 5px solid transparent;
  width: 110px;
}

.nav-menu .nav-item a {
  text-decoration: none;
  color: black;
}

.active {
  color: #f60703 !important;
  pointer-events: none;
  font-weight: bold;
}

.nav-menu .nav-item a:hover {
  cursor: pointer;
  color: #f60703;
  font-weight: bold;
}

.nav-menu .nav-item:hover {
  border-bottom: 5px solid #f60703;
}

.nav-menu {
  display: flex;
}
